* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.guess-color {
    display: flex;
}

.square {
    width: 100px;
    height: 100px;
}

#progress {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: grey;
}

#progress__bar {
    width: 0%;
    height: 30px;
    background-color: greenyellow;
    transition: all 0.5s ease-in-out;
}